@charset "UTF-8";

body {
    background-color: bisque;
    font-family: 'Times New Roman', Times, serif;
} 

#titulo-principal {
    background-color:blueviolet;
    color: white;
    text-align: center;
}

h1 {
    color: blueviolet;
}

h2 {
    color:darkcyan
}

.basico {
    color: cadetblue;
    font-weight: 700;
}

.intermediario {
   color: cornflowerblue;
   font-weight: 700;
}

.avancado {
    color: rgb(152, 99, 201);
}